# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
Access Key.txt
*.pem
.env